# Add files here to ignore them from prettier formatting
/dist
/coverage
# dependencies
/node_modules
# packages
package-lock.lock
package.json
*.json
*.js
*.html
*.md
# production
/.history
